@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
@font-face {
  font-family: Cartesian;
  src: url("/fonts/Cartesian.ttf");
}
:root {
  color: #000;
  font-family: "Oswald", sans-serif;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #f5f5f5;
  font-size: 16px;
  width: 100vw;
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}

p {
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: Cartesian;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
}
section {
  margin: 200px 2rem;
}

/* BG Images */
.earth {
  display: none;
}
@media (min-width: 800px) {
  .earth {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -100px;
    margin-top: -100px;
    width: 550px;
    height: 550px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
  }
}

/* Intro Card */
.intro-card {
  width: 80%;
  max-width: 1130px;
  padding: 60px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 25px;
  margin: 132px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.intro-card h1 {
  text-align: center;
  float: left;
}
.intro-card h1 span {
  background: linear-gradient(92deg, #5e72eb -8%, #fd9494 25%, #5e72eb 65%, #fd9494 100%);
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: gradient 15s cubic-bezier(0.215, 0.61, 0.355, 1) alternate infinite;
  font-size: 60px;
  text-transform: uppercase;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.intro-card p {
  line-height: 130%;
  text-align: center;
}
@media (min-width: 800px) {
  .intro-card {
    width: 80%;
    height: 355px;
    padding: 5rem;
    flex-direction: row;
    gap: 60px;
  }
  .intro-card h1 span {
    font-size: 80px;
  }
  .intro-card p {
    text-align: left;
    line-height: 170%;
  }
}

/* Image Carasol */
.image-carasol {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 0 50px;
  overflow-x: scroll;
}
.image-carasol .image-wrapper {
  display: inline-block;
  min-width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.image-carasol .image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  object-fit: cover;
}

/* Recent News */
.recent-news {
  --gap: 50px;
}
.recent-news .mars {
  position: absolute;
  display: none;
}
.recent-news h2 {
  text-align: center;
  margin-bottom: 100px;
}
.recent-news .card-carasol {
  --card-width: 247px;
  --card-height: 315px;
  padding-inline: calc((100vw - var(--card-width)) / 2 - 2rem);
  position: relative;
}
.recent-news .card-carasol .card-wrapper {
  min-width: 100%;
  --offset: 0;
  transform: translateX(calc(var(--offset) * (var(--card-width) * -1 - var(--gap))));
  width: fit-content;
  display: flex;
  gap: var(--gap);
  transition: transform 0.75s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.recent-news .card-carasol .card-wrapper h3 {
  width: 100%;
  text-align: center;
  margin: auto;
}
.recent-news .card-carasol .card {
  display: inline-block;
  min-width: var(--card-width);
  max-width: var(--card-width);
  border-radius: 20px;
  overflow: hidden;
}
.recent-news .card-carasol .card .img-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.recent-news .card-carasol .card .img-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recent-news .card-carasol .card .content {
  position: relative;
  margin-top: -20px;
  z-index: 1;
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
}
.recent-news .card-carasol .card .content .title {
  font-size: 24px;
  margin-bottom: 10px;
}
.recent-news .card-carasol .card .content .headline {
  font-size: 20px;
  margin-bottom: 25px;
}
.recent-news .card-carasol .card .content a {
  font-size: 16px;
  height: 14px;
  color: #5e72eb;
}
.recent-news .card-carasol .left-arrow,
.recent-news .card-carasol .right-arrow,
.recent-news .card-carasol .dots {
  position: absolute;
}
.recent-news .card-carasol .left-arrow,
.recent-news .card-carasol .right-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  top: 35%;
  opacity: 1;
  background-color: white;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.recent-news .card-carasol .left-arrow.hide,
.recent-news .card-carasol .right-arrow.hide {
  pointer-events: none;
  opacity: 0;
}
.recent-news .card-carasol .left-arrow:hover,
.recent-news .card-carasol .right-arrow:hover {
  cursor: pointer;
}
.recent-news .card-carasol .left-arrow {
  left: 0;
}
.recent-news .card-carasol .right-arrow {
  right: 0;
}
.recent-news .card-carasol .dots {
  bottom: 0;
  margin-bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.recent-news .card-carasol .dots div {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}
.recent-news .card-carasol .dots div:hover {
  cursor: pointer;
}
.recent-news .card-carasol .dots div.active {
  background-color: black;
}
@media (min-width: 800px) {
  .recent-news {
    margin-left: 40%;
    gap: 80px;
  }
  .recent-news .mars {
    filter: brightness(0.9);
    transform: rotate(16.987deg);
    display: inline-block;
    left: 0;
    margin-top: -100px;
    margin-left: -100px;
    width: 670px;
    height: 670px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
  }
  .recent-news .card-carasol {
    flex-direction: row;
    height: calc(var(--card-height));
    padding: 0;
    margin: auto;
    min-width: calc(var(--card-width) * 2 + var(--gap));
    max-width: calc(var(--card-width) * 2 + var(--gap));
  }
  .recent-news .card-carasol .carasol-viewport {
    min-width: calc(var(--card-width) * 2 + var(--gap));
    max-width: calc(var(--card-width) * 2 + var(--gap));
    overflow: hidden;
  }
  .recent-news .card-carasol .card-wrapper {
    height: calc(var(--card-height));
  }
  .recent-news .card-carasol .left-arrow {
    margin-left: -25px;
  }
  .recent-news .card-carasol .right-arrow {
    margin-right: -25px;
  }
}

/* Members */
.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.members .top-row,
.members .bottom-row {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 90px;
}
.members .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.members .card .img-wrapper {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
  width: 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
}
.members .card .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.members .card .title h3 {
  margin-bottom: 3px;
}
.members .card p {
  text-align: center;
  line-height: 150%;
  width: 200px;
}
@media (min-width: 800px) {
  .members .top-row,
  .members .bottom-row {
    flex-direction: row;
  }
}

/* Departments */
.departments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.departments .card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (min-width: 800px) {
  .departments .card-wrapper {
    flex-direction: row;
  }
}
.departments .card {
  position: relative;
  background-color: white;
  width: 285px;
  height: 407px;
  border-radius: 20px;
  overflow: hidden;
  transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.departments .card img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90%;
  margin-bottom: -15%;
  margin-right: -15%;
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.departments .card span {
  position: absolute;
  top: 30px;
  left: 30px;
  color: black;
  font-size: 40px;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-transform: uppercase;
}
.departments .card.business {
  --business-color: #ff9190;
}
.departments .card.business span {
  color: var(--business-color);
}
.departments .card.business img {
  height: 100%;
  margin-right: -50%;
  margin-bottom: -35%;
}
.departments .card.business:hover {
  background-color: var(--business-color);
}
.departments .card.business:hover span {
  color: white;
}
.departments .card.science {
  --science-color: #5e72eb;
}
.departments .card.science span {
  color: var(--science-color);
}
.departments .card.science:hover {
  background-color: var(--science-color);
}
.departments .card.science:hover span {
  color: white;
}
.departments .card.engineering {
  --engineering-color: #fdc094;
}
.departments .card.engineering span {
  color: var(--engineering-color);
}
.departments .card.engineering img {
  height: 65%;
  margin-right: -15%;
  margin-bottom: 25%;
}
.departments .card.engineering:hover {
  background-color: var(--engineering-color);
}
.departments .card.engineering:hover span {
  color: white;
}
.departments .card:hover {
  cursor: pointer;
}
.departments .card:hover img {
  transform: scale(1.35);
}

/* Sponsors */
.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
}
.sponsors img {
  width: 250px;
}

/* Support */
a.support {
  z-index: 10;
  position: fixed;
  padding: 1rem 2rem;
  right: 50px;
  bottom: 50px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  border: 1px solid #e9473f;
}

a.special {
  border-radius: 3.5rem;
  background-color: #e9473f;
  color: white;
  transition: background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

a.special:hover {
  background-color: white;
  color: #e9473f;
}

/* Footer */
footer {
  background: url("/imgs/svg/footer-bg.svg#svgView(preserveAspectRatio(none))") no-repeat;
  background-size: 100% 100%;
  padding: 150px 1rem 1rem 25px;
  min-height: 1.5rem;
  color: white;
}

/*# sourceMappingURL=index.css.map */
