.navbar {
  display: flex;
  box-sizing: border-box;
  padding: 1rem 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(91deg, rgba(18, 12, 110, 0.57) 14.38%, #5e72eb 43.71%, #ff9190 81.58%);
}
.navbar img {
  width: 120px;
  transition: filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar img:hover {
  filter: brightness(3);
  -webkit-filter: brightness(3);
}
.navbar .menu-toggle {
  --size: 30px;
  --height: 3px;
  --bg-color: white;
  position: relative;
  min-width: var(--size);
  height: var(--size);
  border-radius: var(--height);
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}
.navbar .menu-toggle .mid {
  position: absolute;
  width: 100%;
  height: var(--height);
  border-radius: var(--height);
  background-color: var(--bg-color);
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .menu-toggle::after, .navbar .menu-toggle::before {
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: var(--height);
  border-radius: var(--height);
  background-color: var(--bg-color);
  z-index: 100;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .menu-toggle::after {
  bottom: 0px;
  transform-origin: center left;
}
.navbar .menu-toggle::before {
  top: 0px;
  transform-origin: center left;
}
.navbar .menu-toggle.active .mid {
  opacity: 0;
}
.navbar .menu-toggle.active::before {
  transform: rotateZ(45deg);
  width: 125%;
}
.navbar .menu-toggle.active::after {
  transform: rotateZ(-45deg);
  width: 125%;
}
.navbar .links {
  transform: translateY(-400px);
  text-transform: uppercase;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .links.active {
  transform: translateY(0px);
  z-index: 90;
}
.navbar .links nav {
  display: block;
}
.navbar .links ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.navbar .links a {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.navbar .links a.lang-toggle {
  padding: 0.4rem;
  margin-left: 1rem;
}
.navbar .links a.lang-toggle:hover {
  padding: 0.4rem;
  color: #e9473f;
}
.navbar .links li {
  position: relative;
  line-height: 2rem;
}
.navbar .links li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.navbar .links li:hover::after {
  width: 100%;
}
@media (min-width: 800px) {
  .navbar {
    padding: 1rem 160px;
  }
  .navbar .menu-toggle {
    display: none;
  }
  .navbar .links {
    position: relative;
    transform: none;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }
  .navbar .links nav {
    display: inline-block;
  }
  .navbar .links ul {
    flex-direction: row;
    gap: 2.5rem;
  }
  .navbar .links .lang-toggle {
    float: right;
  }
}

/*# sourceMappingURL=navbar.css.map */
