$karura-red: #e9473f;

$cubic-transition: cubic-bezier(0.215, 0.61, 0.355, 1);

$breakpoint-mobile: 800px;

@mixin desktop-tablet-only {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}
