@use "base";

.navbar {
  display: flex;
  position: fixed;
  top: 0;

  box-sizing: border-box;
  padding: 1rem 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  background-color: #1a1a1a;

  img {
    width: 120px;
    transition: filter 0.5s base.$cubic-transition;
    -webkit-transition: -webkit-filter 0.5s base.$cubic-transition;
  }

  img:hover {
    filter: brightness(3);
    -webkit-filter: brightness(3);
  }

  .menu-toggle {
    --size: 30px;
    --height: 3px;
    --bg-color: white;
    position: relative;
    min-width: var(--size);
    height: var(--size);
    border-radius: var(--height);

    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    z-index: 100;

    .mid {
      position: absolute;
      width: 100%;
      height: var(--height);
      border-radius: var(--height);
      background-color: var(--bg-color);
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 0.5s base.$cubic-transition;
    }

    &::after,
    &::before {
      content: "";
      opacity: 1;
      position: absolute;
      width: 100%;
      height: var(--height);
      border-radius: var(--height);
      background-color: var(--bg-color);
      z-index: 100;
      left: 0;

      transition: transform 0.5s base.$cubic-transition,
        width 0.5s base.$cubic-transition;
    }

    &::after {
      bottom: 0px;
      transform-origin: center left;
    }

    &::before {
      top: 0px;
      transform-origin: center left;
    }

    &.active {
      .mid {
        opacity: 0;
      }
      &::before {
        transform: rotateZ(45deg);
        width: calc(100% * 1.25);
      }
      &::after {
        transform: rotateZ(-45deg);
        width: calc(100% * 1.25);
      }
    }
  }

  .links {
    transform: translateY(-400px);
    text-transform: uppercase;

    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1rem;

    background-color: rgba(0, 0, 0, 0.3);

    transition: transform 0.5s base.$cubic-transition;

    &.active {
      transform: translateY(0px);
      z-index: 90;
    }

    nav {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 2.5rem;
    }

    .lang-toggle {
      border-radius: 3.5rem;
      padding: 0.4rem;
      background-color: white;
      color: #e9473f;
      margin-left: 1rem;

      transition: background-color 0.5s base.$cubic-transition,
        color 0.5s base.$cubic-transition;
    }

    .lang-toggle:hover {
      background-color: #e9473f;
      color: white;
    }

    a {
      display: inline-block;
      color: white;
      text-decoration: none;
    }

    li {
      position: relative;
      line-height: 2rem;
    }

    li::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: white;

      transition: width 0.5s base.$cubic-transition;
    }

    li:hover::after {
      width: 100%;
    }
  }

  @include base.tablet-only {
    .menu-toggle {
      display: none;
    }

    .links {
      position: relative;
      transform: none;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      padding: 0;

      nav {
        display: inline-block;
      }

      ul {
        flex-direction: row;
        gap: 2.5rem;
      }

      .lang-toggle {
        float: right;
      }
    }
  }
}
