@use "base";

.sponsors {
  margin: auto;
  width: 100%;
  max-width: 1200px;

  h2 {
    text-align: center;
    margin: 50px auto;
  }

  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 70px;
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    max-width: 100vw;
  }

  .group > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  img {
    width: 220px;
  }

  .plat {
    width: 350px;
  }

  .silver {
    width: 230px;
  }

  .bronze {
    width: 200px;
  }

  .item {
    width: 150px;
  }

  .hal {
    width: 100px;
  }

  .dark-bg {
    background-color: #ddd;
  }

  @include base.desktop-tablet-only {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      transition: filter 0.5s base.$cubic-transition;
    }

    img:hover {
      cursor: pointer;
    }

    .row {
      justify-content: space-between;
    }
  }

  .dark-bg {
    background-color: #ddd;
  }

  .navy-bg {
    background-color: #002654;
  }
}
